<div class="barpec">
    <a href="/pescaaki/pesqueiro/{{id_pesqueiro}}"><u>Visão Geral</u></a>
    <a href="">Lagos</a>
    <a href="">Localização</a>
    <a href="">Peixes</a>
    <a href="">Políticas</a>
</div>