<div class="container mt-4 col-lg-4">
    <div class="card col-sm-8">
        <div class="card-body">
            <form class="form-sign" action="/pescaaki/cadastro/usuario" method="POST">
                <div class="form-group text-center">
                    <div class="imgcad">
                        <h3>Cadastro</h3>
                        <img class="tescad" src="/img/pescaaki.png">
                    </div>
                </div>
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" name="nome" id="nome" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>E-Mail:</label>
                    <input type="text" name="email" id="email" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>CPF:</label>
                    <input type="text" name="cpf" id="cpf" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>Telefone:</label>
                    <input type="text" name="telefone" id="telefone" value="" class="form-control">
                </div>
                <div class="form-group">
                    <label>Senha:</label>
                    <input type="password" name="senha" id="senha" value="" class="form-control">
                </div>
                <input type="submit" name="btnLog" value="Cadastrar" id="btnLog" class="btn btn-primary btn-block">
            </form>
        </div>
    </div>
    <a class="link" href="/pescaaki/login/">Já possui conta?</a>
</div>